
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
/* responsive */
@media only screen and (max-width: 1000px) {
    .series-container{
        display: block;
        flex-wrap: wrap;
        width: 100vw;
    }
    .seriesbtn{
        width: 100vw;
        font-family: "Lexend Exa";
        background-color: rgb(172, 206, 162);
        border: 0px;
        padding: 10px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        font-size: large;
        font-family: Lexend Exa;

    }
}
@media only screen and (min-width: 1000px) {

    nav{
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;  
        font-family: Lexend Exa;
        font-size: 1.5vw;
        width: 100%;
      
    }
}
body{
 background-color: rgb(255, 255, 255);   
 overflow-x: hidden;
 width : 100vw;

 /* GRADIENT BACKGROUND */

 background: hsla(90, 43%, 61%, 1);

background: radial-gradient(circle, hsla(90, 43%, 61%, 1) 0%, hsla(0, 0%, 100%, 1) 96%, hsla(0, 0%, 100%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(90, 43%, 61%, 1) 0%, hsla(0, 0%, 100%, 1) 96%, hsla(0, 0%, 100%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(90, 43%, 61%, 1) 0%, hsla(0, 0%, 100%, 1) 96%, hsla(0, 0%, 100%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9DC772", endColorstr="#FFFFFF", GradientType=1 );

}
h1, h2, p{
    color: rgb(76, 88, 72);
    text-align: center;
    font-family: "Lexend Exa";
    font-weight: bold;
}


a{
    color: rgb(76, 88, 72); 
}
.p{
    display: block;

}
/* FONT */
.lexend-exa-800 {
    font-family: "Lexend Exa", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

/* HOME */

.slideshowContainer{
    width: 50vw;
    position: static;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: auto;

}
/* ABOUT PAGE  */
.biowrapper{
    position: absolute;

    /* centering and layout */
    display: flex;
    text-align: center;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: absolute;
    padding-left: 20vw;
    padding-right: 20vw;

}
/* PAINTINGS */
.assets_container{
    background-color: rgb(220, 236, 215);
    font-family: "Lexend Exa";
    color: rgb(76, 88, 72);
    position: absolute;
    display: flex;
    /* height: fit-content; */
    width: 100%;
    align-items: center;
    /* max-width: 100%; */
    overflow-x: scroll;

}
.assets_container img{
    display: flex;
    /* height: 60vh; */
    display: inline-block;
    justify-content: space-around;
    margin: 1vw;
    /* width: 100vw; */



}
.series-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.seriesbtn{
    font-family: "Lexend Exa";
    background-color: rgb(172, 206, 162);
    border: 0px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

/* CV */

.cv-container{

    /* centering and layout */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: center; 
    position: absolute;
    padding-left: 10vw;
    padding-right: 10vw;
    width: 100%;
    box-sizing: border-box;

    /* style */
    font-family: "Lexend Exa";
}

@media only screen and (max-width: 830px) {
.cv-container{

    /* centering and layout */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: center; 
    position: absolute;
    padding-left: 0vw;
    padding-right: 0vw;
    width: 100%;
    box-sizing: border-box;

    margin: 1vw;
    /* style */
    font-family: "Lexend Exa";
}
}

/* socials  */

.socials{
    z-index: 3;
    width: 10vw;

}
.socials-container{
    z-index: 2;
    display: flex;
    justify-content: space-around;
    padding-left: 10vw;
    padding-right: 10vw;

}
.p{
    position: absolute;
    z-index: 4;
}
.musician{
    position: absolute;
    width: 70%;
    z-index: 0;
    bottom: 0%;
    opacity: 0.7;
}