
nav{
    font-family: arial;
    display: block;
    padding: 30px;
    justify-content: space-around;
    position: fixed;
    padding: 30px;

    
}
a{
    font-family: arial;
    font-size: 20px;
    color: white;
    display: block;
    position: flex;
    justify-content: space-around;
    padding: 10px;


}
h1{
    font-family: arial;
    color: white;
}
.blue_pic{
    height: 100vh;
}
img{
    justify-content: center;
    justify-items: center;
    align-items: center;

}
.nav_container{
    height: 100vh;
    width: 25vw;
    background-color: rgb(0 0 0 / 50%); 


}
.ig{
    width: 18px;
}
.email{
    width: 18px;
}
.performance1{
    visibility: hidden;
}
.performance2{
    visibility: hidden;
    
}
.performance3{
    visibility: hidden;

    
}