body{
 background-color: darkred;   
}
h1{
    color: white;
    text-align: center;
    font-family: Cambria, Courier, monospace;
}
nav{
    display: flex;
    justify-content: space-around;    
}
a{
    color: white; 
}